.mainContainer {
    -fx-padding: 30px;
    -fx-spacing: 20px;
}

.error-label {
    -fx-text-fill: red;
}

.error {
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.lbSalDeclaration{
    -fx-font-weight: bold;
}

.file-selector {
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-color: #b6b6b6;
    -fx-border-style: solid;
    -fx-pref-width: 300;
    -fx-padding: 5;
    -fx-text-alignment: left;
}